In [1]:
import numpy as np
import pandas as pd 
import sys
import io

In [3]:
xls = pd.ExcelFile('/Users/juliachen/Desktop/la_cities_data/CaseCounts_CrudeRates_SelectedRegions_080821_2359.xlsx')

In [9]:
df1 = pd.read_excel(xls, 'LAC_SummaryTable',header=None)
df1 = df1.drop([0, 1])
new_header1 = df1.iloc[0] 
df1 = df1[1:] 
df1.columns = new_header1

df2 = pd.read_excel(xls, 'LACity_SummaryTable',header=None)
df2 = df2.drop([0, 1])
new_header2 = df2.iloc[0] 
df2 = df2[1:] 
df2.columns = new_header2

df3 = pd.read_excel(xls, 'Uninc_SummaryTable',header=None)
df3 = df3.drop([0, 1])
new_header3 = df3.iloc[0] 
df3 = df3[1:] 
df3.columns = new_header3

In [11]:
# take the data type
df1 = df1[(df1["Data Type"]=="Newly Confirmed Case Count") |\
          (df1["Data Type"]=="Cumulative Confirmed Case Count")|\
          (df1["Data Type"]=="Newly Reported Death Count")|\
          (df1["Data Type"]=="Cumulative Death Count")]

df2 = df2[(df2["Data Type"]=="Newly Confirmed Case Count") |\
          (df2["Data Type"]=="Cumulative Confirmed Case Count")|\
          (df2["Data Type"]=="Newly Reported Death Count")|\
          (df2["Data Type"]=="Cumulative Death Count")]

df3 = df3[(df3["Data Type"]=="Newly Confirmed Case Count") |\
          (df3["Data Type"]=="Cumulative Confirmed Case Count")|\
          (df3["Data Type"]=="Newly Reported Death Count")|\
          (df3["Data Type"]=="Cumulative Death Count")]

In [12]:
df1

2,City/Community,Data Type,Population,17-Mar,18-Mar,19-Mar,20-Mar,21-Mar,22-Mar,23-Mar,...,29-Jul2,30-Jul2,31-Jul2,1-Aug2,2-Aug2,3-Aug2,4-Aug2,5-Aug2,6-Aug2,7-Aug2
3,Agoura Hills,Cumulative Confirmed Case Count,21168,0,0,0,0,0,1,3,...,1147,1154,1159,1163,1167,1174,1181,1189,1195,1200
4,Alhambra,Cumulative Confirmed Case Count,86706,1,2,3,3,3,4,5,...,7174,7199,7221,7243,7253,7265,7288,7317,7333,7348
5,Arcadia,Cumulative Confirmed Case Count,56993,2,2,2,2,2,3,4,...,2909,2917,2931,2937,2937,2954,2967,2974,2987,2995
6,Artesia,Cumulative Confirmed Case Count,16828,0,0,0,0,0,0,0,...,2141,2142,2151,2153,2157,2165,2168,2172,2180,2181
7,Avalon,Cumulative Confirmed Case Count,3661,0,0,0,0,0,0,0,...,19,19,19,19,19,19,19,19,19,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623,West Covina,Newly Reported Death Count,107688,,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,0
624,West Hollywood,Newly Reported Death Count,35798,,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
625,Westlake Village,Newly Reported Death Count,8355,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626,Whittier,Newly Reported Death Count,88076,,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,0
627,Unincorporated Areas,Newly Reported Death Count,1045455,,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,0,0,2,2,2,2,1,0

In [19]:
df2.dtypes

2
Neighborhood in Los Angeles City    object
Data Type                           object
Population                          object
17-Mar                              object
18-Mar                              object
                                     ...
3-Aug2                              object
4-Aug2                              object
5-Aug2                              object
6-Aug2                              object
7-Aug2                              object
Length: 512, dtype: object